# Python
venv/
__pycache__/
*.py[cod]
*.pkl
*.h5
.env

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# MacOS / Linux / Windows
.DS_Store
Thumbs.db

# Flutter (kalau campur project)
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.idea/
